.infoCardContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2.5rem 2rem;

    border: 1px solid #767272;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;

    background-color: var(--white);
}

@media(max-width: 1050px) {
    .infoCardContainer {
        width: 18rem;
        /* height: 19rem; */
    }
}

.header {
    margin-bottom: 1.5rem;

    border-bottom: 1px solid #C4C4C4;
}

.price {
    margin-top: 0.2rem;
    color: var(--black);
    font-weight: 600;
    font-size: 24px;
}

@media(max-width: 1050px) {
    .price {
		font-size: 17.1943px;
		line-height: 26px;
   }
}

/* Content text */
.infoCardContainer > div > p {
    font-size: 18px;
}

@media(max-width: 1050px) {
	.infoCardContainer > div > p {
		font-size: 12.8957px;
		line-height: 19px;
        margin-bottom: 1rem;
    }
}

/* Bottom blue text and arrow */
.infoCardContainer > div > div {
    font-size: 18px;
    text-align: right;
    color: var(--blue);
}

.infoCardContainer > div > div img {
    transform: translateY(2px);
}


@media(max-width: 1050px) {
    .infoCardContainer > div > div {
        font-size: 12.8957px;
        line-height: 19px;
        margin-top: 4rem;
    }
}
