.topBar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    background-color: red;
    border: 0.5px solid #838181;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topBar::after {
    content: "";
    width: 5px;
    background-color: yellow;
}

.logo {
}

.searchFieldContainer {
    display: flex;
    align-items: center;
    background-color: gray;
}
