.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topBarContainer {
    width: 100%;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    margin: 5rem 5rem 0 5rem;
}
